/* Adrián portada*/
.portada{
    text-align: center; 
    background-color: red;
    background-image: url(../Imágenes/Portada/Cabecera.png);
    background-repeat: no-repeat;
    border-radius: 50px;
    height: 674px;
    width: 100%;
    background-position: center;
    display: block;
    box-sizing: border-box;
}


footer.portadaaa{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #222;
    color: white; 
    padding: 20px;  
    box-sizing: border-box;
    height: auto;
    background-image: url(../Imágenes/Portada/Cabecera.png);
    background-repeat: no-repeat;
    background-position:bottom center;
    padding: 40px;
    border-radius: 50px;
}

footer a{
    text-decoration: none;
    color: inherit;
}

.footer div{
     display: block;
    border-radius: 3%;
    margin: 10px;
    width: 200px;    
}

body.portadaa{
    background-color: #FFC845;
    cursor: url(../Imágenes/Portada/cursor.cur) 16 16 auto;
}

/*Adrián Índice*/
header {
  width: 100%;
  height: auto; /* o el alto que quieras */
  overflow: hidden; /* evita que se desborde */
}

header img {
  width: 900px;      /* ocupa todo el ancho */
  height: 90;     /* ocupa todo el alto */
  object-fit: cover; /* recorta la imagen para que se ajuste sin deformarse */
}


/* Álvaro tarjetas  */

article {
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 120px;
    height: 180px;
    border: 2px solid red;
    display: block;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    margin: 8px;
}

.nombre {
    background: red;
    color: yellow;
    padding: 6px 8px;
    margin-top: 6px;
    border-radius: 4px;
    text-align: center;
    font-weight: bold;
}

body {
    background-color: black;
}
